@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

body {
  background: #ecdebd77;
  color: #333333;
  margin: auto;
  font-family:'cwTeXYen', sans-serif ;
  margin-top: 5rem;
  }

.container{
    display:flex;
    justify-content: center; 
    display: grid;
    grid-template-columns: repeat(3, 350px);
    padding: 30px 0px 0px 20px;
}

.dashboard-container{
  display:flex;
  justify-content: center; 
  display: grid;
  grid-template-columns: repeat(3, 450px);
  padding: 10px 0px 0px 20px;
}

.dashboard-graph{
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.dashboard-crawler{
  display:flex;
  justify-content: center; 
  display: grid;
  grid-template-columns: repeat(2, 500px);
  padding: 10px 0px 0px 20px;
}

.datapipeline{
  width: 85%;
  height: 85%;
  margin: 10px 20px 20px 20px;
  border-radius: 20px;
  align-self: center;
  justify-self: center; 
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

#wordcloud-container{
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-self: center;
  justify-self: center; 
}

#shopping-container{
  display: flex;
  flex-direction: row;
  padding: 50px;
  align-self: center;
  justify-self: center; 
}

h1{
  font-size: 2em;
  font-weight:300;
  font-family:'cwTeXYen', sans-serif;
  text-align:center;
  color: #724d08da;
}

#dag-topic{
  font-size: 2em;
  font-weight:300;
  margin-top: 20px;
  font-family:'cwTeXYen', sans-serif;
  text-align:center;
  color: #724d08da;
}

h4{
  font-size: 1.2em;
  font-weight:300;
  font-family:'cwTeXYen', sans-serif;
  text-align:center;
  color: #724d08da;
}

h1 span#total-outfit{
  color:#E76F51;
  font-size: 2em;
  font-weight:300;
  font-family:'cwTeXYen', sans-serif;
  text-align:center;

}

h1#search-product-topic{
  color: #724d08da;
  font-size: 2em;
  font-weight:300;
  font-family:'cwTeXYen', sans-serif;
  text-align:center;
  padding: 10px;
}

.explore_img{
    width: 300px;
    height: 360px;
    margin: 10px 0px 20px 20px;
    border-radius: 15px;
    transition:all 0.5s;
    align-self: center;
    justify-self: center; 
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.explore_img:hover{
    transform:scale(1.1)
}

.shop_box{
  display: flex;
  align-items: center;
  justify-content: center;
  width:550px;
}

.explore{
  position:absolute;
  top:820px;
  left:90px;
  font-family:Fantasy ; 
  font-size: 1.3rem;
  color: #fff;
  text-shadow: 0px 15px 35px -5px rgba(150, 152, 155, 0.32);
  background-color: rgba(179, 172, 172, 0.219);
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.shop_outfit_img{
  width: 240px;
  height: 290px;
  margin: 10px 20px 20px 20px;
  border-radius: 15px;
  transition:all 0.5s;
  align-self: center;
  justify-self: center; 
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.shop_outfit_img_wish{
  width: 576x;
  height: 686px;
  margin: 10px 20px 20px 20px;
  border-radius: 15px;
  transition:all 0.5s;
  align-self: center;
  justify-self: center; 
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.shop_product_img{
  width: 195px;
  height: 234px;
  margin: 0px 0px 20px 0px;
  border-radius: 15px;
  transition:all 0.5s;
  align-self: center;
  justify-self: center; 
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.shop_product_img:hover{
  transform:scale(1.1)
}

h2{
  margin-top:40px;
  text-align: center;
}

.main-nav{
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  background: #ffffff;
}

@media only screen and (max-width: 600px){
  .main-nav{
      font-size:10px;
      padding: 0;
  }
}

footer {
  display: block;
  width: 100vw;
  height: 115px;
  background-color: rgb(68, 60, 60);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  margin:0;
  border:0;
}

#logo{
  margin-left: 60px;
  margin-top: 15px;
  height:48px;
}

#category-link{
  margin-left: 50px;
  margin-top:15px;
  display: flex;
}

li{
  list-style: none;
  padding: 10px;
}

#category-link  a {
  color: #3a3e41c9;
  font-size:1.2rem;
  text-decoration:none;
  margin-right: 10px;
}

span{
  font-size:1.5rem;
}

#category-link  a:hover{
  color: #a7700c;
}

#nav-right{
  margin-left: auto;
  margin-right:60px;
}

#nav-right  a {
  color: #3a3e41c9;
  font-size:1.2rem;
  text-decoration:none;
  margin-right: 10px;
  font-family: 'cwTeXYen', sans-serif ;
}

main {
  margin-top: 100px;
  min-height: calc(100vh - 255px);
}

#product-container{
  display:flex;
  justify-content:center;
  align-items:center;
}

#grid-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 50px 40px;
  max-width: 1160px;
  padding: 50px 24px;
  margin-right: 50px;
  margin-left: 50px;
}

#grid-wrapper img{
  height: 330px;
  width: 250px;
  cursor: pointer;
}

#grid-wrapper .product-img-amazon{
  height: 330px;
  width: 250px;
  cursor: pointer;
}

#grid-wrapper a{
  margin:0;
}

#grid-wrapper-shopping{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 20px 35px;
  max-width: 1160px;
  padding: 20px 24px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color:#3a3e41c9;
}

.product:hover {
  color: #a7700c;
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -5px 5px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -5px 5px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -5px 5px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -5px 5px;
}

.product_colors{
  display: flex;
  margin-top: 10px;
}

.product_color{
  width: 24px;
  height: 24px;
  box-shadow: 0px 0px 1px #bbbbbb;
  margin-left:10px
}

.product_title{
  margin-top:2px;
  margin-left:10px
}

.product_price{
  margin-left:10px;
  margin-bottom: 5px;
}

.box_shopping{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product_title_shopping{
  margin:auto;
  color: #3a3e41c9
}

#next_page{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
}

#pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.page{
  margin:5px;
}

footer {
  display: block;
  height: 115px;
  background-color: rgb(68, 60, 60);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  margin:0;
  border:0;
}

.footer-link{
  margin:0;
  border:0;
}

footer ul {
  display: flex;
  align-items: center;
  color: #f5f5f5;
  list-style:none;
}

footer  ul  li {
  width: 95px;
  text-align: center;
  line-height: 16px;
  font-size: 0.9rem;
  padding: 0px;
  color:whitesmoke;
}

footer  ul  li a{
  color:rgb(196, 195, 195);
  text-decoration: none;
  margin-right:10px;
}

footer  ul  li a:hover{
  color: #a7700c;
}

.links{
  margin-left: 10px;
  padding:10px;
}

.links > img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}


#copyright{
  color:gray;
}

.content-section {
  background: #ffffff;
  padding: 40px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.article-title {
  font-size: 2rem;
  color:   #a7700c;
}

.article-content {
  white-space: pre-line;
  color: grey;
  margin: auto;
}

.box {
  position:relative;
}

.box > .wish{
  position:absolute;
  bottom:30px;
  right:50px;
}

.box > .shopping{
  position:absolute;
  bottom:35px;
  right:100px;
  font-family: 'cwTeXYen', sans-serif ;
  font-size: 0.85rem;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.box > .explore{
  position:absolute;
  top:30px;
  left:30px;
  font-family:Fantasy ; 
  font-size: 0.85rem;
  color: #fff;
  text-shadow: 0px 15px 35px -5px rgba(150, 152, 155, 0.32);
  background-color: rgba(179, 172, 172, 0.219);
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.box_shopping > .shopping-detail {
  font-family:'cwTeXYen', sans-serif ;
  font-size: 0.85rem;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.explore-more{
  font-family: Arial;
  font-size: 1.2rem;
}

#wordCloud{ 
  margin-top: 100px;
}

.wish_item_add{
  border:0;
  font-size:2rem;
  font-weight:bold;
  background-color: transparent;
  text-shadow: 0px 15px 35px -5px rgba(150, 152, 155, 0.32);
  position: absolute;
  bottom:27px;
  right: 50px;
  color:#E76F51;
  -webkit-filter: none;
          filter: none;
  will-change: font-size;
  -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
          animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

.wish_item_non{
  border:0;
  font-size:2rem;
  font-weight:bold;
  background-color: transparent;
  text-shadow: 0px 15px 35px -5px rgba(150, 152, 155, 0.32);
  position: absolute;
  bottom:27px;
  right: 50px;
  color:#B6AD90;
  -webkit-filter: none;
          filter: none;
  will-change: font-size;
  -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
          animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

#product-search-container{
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin:50px;
  align-self: center;
  justify-self: center; 
}

.search-sec{
  padding: 1rem;
}
.search-slt{
  display: block;
  width: 100%;
  color: #888;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:5px;
}

.wrn-btn{
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:5px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.css-masonry { 
  -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;    
  column-gap: 1.5em;
  
  margin: 1.5em;    
  padding: 0;
  font-size: .85em;
}

.item {
  display: inline-block;
  width: 100%;
  font-family: 'cwTeXYen', sans-serif ;
  font-size: 1.8em;
  background: #fff;
  margin: 0 0 1em;
  width: 100%;
  
-webkit-transition:1s ease all;

  border: 2px solid rgba(136, 136, 136, 0.5);
  border-radius: 10px; 
  overflow: hidden; 
}

.item img{ max-width:100%; font-size: 0; height: auto;}

.item-number {
  border-radius: 50%;
  background:#888;
  color: #fff;
  font-size: 0.8em;
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0 2px 2px 0; 
  position: absolute;
  margin: 5px;
}

.item .title {
  border: 0px solid blue;
  padding: 10px 10px 14px;
}

.french {color: grey; 
        font-size: 0.8em;
        margin: 0;
}

@media only screen and (max-width: 420px) {
  .css-masonry {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
}

@media only screen and (min-width: 421px) and (max-width: 768px){
  .css-masonry {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1000px){
  .css-masonry {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
  }
}
@media only screen and (min-width: 1001px) {
  .css-masonry {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 1140px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ecdebdd9;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

@-webkit-keyframes heart {
  0%, 17.5% {
    font-size: 0;
  }
}

@keyframes heart {
  0%, 17.5% {
    font-size: 0;
  }
}