{% extends "layout.html" %}
{% block content %}  
  <div id="wordcloud-container">
    <h1 id="">網站技術架構與Data Pipeline</h1>
    <img class="datapipeline" src="{{ url_for('static', filename='pics/datapipeline.png') }}">
    <h1 id="dag-topic">MySQL Schema</h1>
    <img class="datapipeline" src="{{ url_for('static', filename='pics/mysql_schema.png') }}">
    <h1 id="dag-topic">Airflow DAG</h1>
    <img class="datapipeline" src="{{ url_for('static', filename='pics/datapipeline_etl.png') }}">
  </div>
  <div id="next_page" >
    <a class="btn btn-outline-secondary explore-more" href="{{ url_for('wordcloud')}}">Back to HOT文字雲</a>
  </div>
{% endblock content %}

