{% extends "layout.html" %}
{% block content %}  
  <div id="wordcloud-container">
    <h1 id="wordcloud-topic">搜尋熱門關鍵字:{{keywordch}}</h1>
    <div class="col align-self-center">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{message}}
                </div>
          {% endfor %}
        {% endif %}
      {% endwith%}
    </div>
    <div class="container" id="container">
      {% for outfit in outfits %}
          <div class="box">
            <img class="explore_img" src="{{outfit.outfit_image}}">
            <p class="explore" >  # {{outfit.outfit_id}}  </p>
            <a class="btn btn-secondary shopping"  href="{{ url_for('shopping',outfitid=outfit.outfit_id)}}">Go Shopping </a>
            {% if outfit.style =="color:#E76F51;" %}
              <button id='btn-add' type='button' class="wish_item_add" style="color:#E76F51;" value={{outfit.outfit_id}} >❤</button>         
            {% elif outfit.style =="color:#B6AD90;" %}
              <button id='btn-non' type='button' class="wish_item_non" style="color:#B6AD90;" value={{outfit.outfit_id}}>❤</button>          
          {% endif %}
          </div>
      {% endfor %}
    </div>
  </div>
  <div id="next_page" >
    <a class="btn btn-outline-secondary explore-more" href="{{ url_for('wordcloud')}}">Back to HOT文字雲</a>
  </div>
  <script src="{{ url_for('static',filename='wish.js') }}"></script>
{% endblock content %}