<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
        <title>Today's Outfit</title>
    </head>
    <body>
        <div class="container">
            <img id="logo" src="{{ url_for('static', filename='pics/logo_todaysoutfit.jpg') }}">
            <div class="content-section" id="register-form">
                <form method="POST" action="">
                    {{form.hidden_tag()}}
                    <legend class="text-center">Register</legend>
                    <fieldset class="form-group">
                        <div class="form-group pt-3">
                            {{ form.gender.label(class="form-control-label")}}
                            <div class="form-select mb-3">
                                {{form.gender(class="form-control form-control-lg")}}
                            </div>
                        </div>
                        <div class="form-group pt-3">
                            {{form.uid.label(class="form-control-label")}}

                            {% if form.uid.errors%}
                                {{form.uid(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.uid.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div> 
                            {% else %}
                                {{form.uid(class="form-control form-control-lg")}}
                            {% endif %}
                        
                        </div>
                        <div class="form-group pt-3">
                            {{form.email.label(class="form-control-label")}}

                            {% if form.email.errors%}
                                {{form.email(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div> 
                            {% else %}
                                {{form.email(class="form-control form-control-lg")}}
                            {% endif %}
                        
                        </div>
                        <div class="form-group pt-3">
                            {{form.password.label(class="form-control-label")}}

                            {% if form.password.errors%}
                                {{form.password(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div> 
                            {% else %}
                                {{form.password(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class="form-group pt-3">
                            {{form.confirm_password.label(class="form-control-label")}}

                            {% if form.confirm_password.errors%}
                                {{form.confirm_password(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div> 
                            {% else %}
                                {{form.confirm_password(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group pt-3 d-flex justify-content-center">
                        {{form.submit(class="btn btn-secondary")}}
                    </div>
                </form>
            </div>
            <div class="mb-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
                </small>
            </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith%}
        </div>
    </body>
</html>