{% extends "layout.html" %}
{% block content %}
    <div id="product-search-container"> 
        <section class="search-sec">
                <form action="{{ url_for('search') }}" method="post" novalidate="novalidate">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-8">
                            <div class="row justify-content-md-center">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select class="form-control search-slt" name="choose_color">
                                        <option>Choose Color</option>
                                            {% for color in colors %}
                                                <option value="{{color.name}}">
                                                    <p>{{color.name}}</p>
                                                </option>
                                            {% endfor %}
                                    </select>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select class="form-control search-slt" name="choose_category">
                                        <option>Choose Product Category</option>
                                            {% for category in categories %}
                                                <option value="{{category.name}}">
                                                    <p>{{category.namech}}</p>
                                                </option>
                                            {% endfor %}
                                        
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="submit" class="btn btn-secondary wrn-btn">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
        </section>

        <h1 id="search-product-topic">{{title}}</h1>
        {% if type=='search' %}
            <div class="content">
                {% if lst_wear_outfits|length==0 and lst_hm_outfits|length==0 %}
                        <h1 id="wordcloud-topic">SORRY! <span id="total-outfit"> NO </span> DATA FOUND! PLEASE TRY AGAIN!</h1>
                {% else %}
                        <div class="css-masonry">
                            {% for outfit in lst_wear_outfits %}
                                <div class="item">
                                    <div class="item-number">{{outfit.index}}</div> 
                                    <img src="{{ outfit.outfit_image}}">
                                    <div class="title">品牌/ {{ outfit.brand }}<br>
                                        {% if outfit.price != 'None' and  outfit.price !=0 %}    
                                            <p class="french">約台幣{{outfit.price}}</p>
                                        {% endif %}
                                        <a class="btn btn-secondary shopping-detail"  href="{{outfit.shop_url}}">Go Shopping</a>
                                    </div>
                                </div>
                            {% endfor %}

                            {% for hm_outfit in lst_hm_outfits %}
                                <div class="item">
                                    <div class="item-number">{{hm_outfit.index}}</div> 
                                    <img src="{{ hm_outfit.outfit_image}}">            
                                    <div class="title">
                                        品牌/ {{ hm_outfit.brand }}<br>
                                        <p>{{hm_outfit.outfit_title}}</p>
                                        
                                        {% if hm_outfit.price != 'None' and  hm_outfit.price !=0 %}    
                                            <p class="french">約台幣{{hm_outfit.price}}</p>
                                        {% endif %}
                                        <p class="french">{{hm_outfit.outfit_description}}</p>
                                        <a class="btn btn-secondary shopping-detail"  href="{{hm_outfit.shop_url}}">Go Shopping</a>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
        </div> 
    </div>

    <script>
        $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
        });
    </script>      
{% endblock content %}